@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap");
@import "./mixins.scss";
@import "./variables.scss";
* {
  outline: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background: $purple;
  border-radius: 30px;
}
ul {
  padding: 0;
}
body {
  background: $black;
  font-family: "Raleway", sans-serif;
  display: flex;
  min-height: 100vh;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px 10px;
}
svg {
  pointer-events: none;
}
.btn-theme {
  @include btn-theme;
}
.text-underline {
  position: relative;
  &::after {
    @include text-underline;
  }
}
