@import "./variables.scss";
@import "./mixins.scss";

.translating {
  figure {
    p {
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      color: $white;
      margin-bottom: 15px;
      margin-top: -20px;
    }
  }
  &-logs {
    margin-bottom: 20px;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #00000030;
    li {
      background: $black;
      box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      padding: 20px;
      margin: 15px 0;
      color: $white;
      display: flex;
      align-items: center;
      i {
        margin-right: 15px;
      }
    }
  }
}
